<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav mode="side" opened [disableClose]="true" class="example-sidenav"
        [class.mat-elevation-z4]="true">

    </mat-sidenav>

    <mat-toolbar [class.mat-elevation-z2]="true">

        <mat-toolbar-row>

            <div>
                <button (click)="sidenav.toggle()" mat-icon-button>
                    <mat-icon>menu</mat-icon>
                </button>
            </div>

            <span style="width: 20px ;"></span>

            <div fxLayout="row" fxLayoutGap="10">
                <mat-form-field appearance="standard">
                    <input matInput placeholder="Buscar...">
                </mat-form-field>
            </div>

            <span class="spacer" ></span>

            <button mat-icon-button>
                <mat-icon [matBadge]="matNoti" [matBadgeHidden]="matNoti==0" matBadgeColor="warn"> {{ matNoti == 0 ? 'notifications' : 'notifications_active'}} </mat-icon>
            </button>


            <button mat-button [matMenuTriggerFor]="usermenu" class="button-toolbar" (click)="hide = !hide">
                <div fxLayout="row" fxLayoutGap="15" fxLayoutAlign="center center">
                    <div class="avatar" fxLayout="row">
                        <img class="img-avatar" src="assets/login.jpg">
                    </div>
                    <span> {{ user.usuario }} </span>
                    <mat-icon>{{hide ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}</mat-icon>
                </div>
            </button>
            <mat-menu #usermenu="matMenu">
                <button mat-menu-item>
                    <mat-icon>account_circle</mat-icon>
                    Perfil
                </button>
                <button mat-menu-item>Item 2</button>
            </mat-menu>

            <button mat-icon-button (click)="logout()">
                <mat-icon>logout</mat-icon>
            </button>

        </mat-toolbar-row>

    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>